<footer id="footer">
  <div class="outer">
    <div id="footer-info" class="inner">
      <%- partial('plugins/sites/visit') %>
      <p>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
          .版权所有 | 相关设计 <a href="https://gitee.com/hjm100" target="_blank">鸿基梦</a><br>
      </p>
    </div>
  </div>
</footer>